{% extends "layout.html" %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">城市列表</h1>


        <!-- 城市列表表格 -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>人口</th>
                <th>logo</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.count }}</td>
                    <td><img src="/media/{{ obj.img }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
